<body ng-controller="SetupCtrl as setupCtrl">
    <vd-nav></vd-nav>
    <vd-main>
        <vd-title>Setup Page</vd-title>
        <form>
            <div><input type="checkbox" ng-model="setupCtrl.settings.taxInclusive"> Tax inclusive</div>
            <div>
                <input type="radio" ng-model="setupCtrl.settings.lang" value="en"> English
                <input type="radio" ng-model="setupCtrl.settings.lang" value="fr"> Français
            </div>
            <vd-submit-button type="submit" ng-click="setupCtrl.submit()">Save</vd-submit-button>
        </form>
    </vd-main>
</body>
